@use 'sass:math';

//Подключение шрифтов ========================================================================================================================================================
//Здесь @import()
@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700,800&display=swap);
//&display=swap - Добавить если подключаем через @import()

// Подключение шрифтов локально
//@import "fonts/fonts";

// Подключение иконочного шрифта ==============================================================================================================================================================================================================================================================================
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Mulish';
$fontSize: 18px; // где 14(px) - размер шрифта по умолчанию с макета

// Основные цвета
$mainColor: #000; // Цвет по умолчанию

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина макета (ширина фрейма)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1244;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк поинтам (контейнер изменяет свою ширину по брейк поинту)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуленние ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стили для body ============================================================================================================================================================================================================================================================================================================================================================================================

body {
  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  // Сайт загружен
  .loaded & {
  }
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @supports (overflow: clip) {
    overflow: clip;
  }

  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

// Для того чтобы не ломался слайдер при ресайзе
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
.container {
  max-width: 1244px;
  margin: 0 auto;
}

// Подключение стилей общих элементов проекта
@import 'common';
