<section class="main">
  <div class="container">
    <div class="main__content">
      <div class="main__body">
        <div class="main__left left-main">
          <form class="left-main__form form-main" [formGroup]="form">
            <input
              class="input"
              formControlName="adSides"
              type="number"
              placeholder="Количество рекламных сторон" />
            <app-select
              formControlName="gender"
              [options]="genderOptions"
              [placeholder]="'Гендер целевой аудитории'" />
            <div class="form-main__age">
              <input
                class="input"
                formControlName="ageFrom"
                type="number"
                placeholder="Возраст (от)" />
              <input
                class="input"
                formControlName="ageTo"
                type="number"
                placeholder="Возраст (до)" />
            </div>
            <input
              class="input"
              formControlName="income"
              type="text"
              placeholder="Доход целевой аудитории" />
            <app-button
              [isLoading]="dataIsLoading"
              [isDisabled]="form.invalid"
              (click)="form.valid ? getPoints(formatValue(form.value)) : ''"
              >Генерация точек</app-button
            >
						<app-button
              (click)="mapService.getStartPoints(); form.reset()"
              >Сброс точек</app-button>
            <small *ngIf="form.invalid && form.touched" style="color: red"
              >Все поля обязательны</small>
						
          </form>
        </div>
        <div class="main__right right-main">
          <div class="right-main__map">
            <app-map />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

